<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <div class="container">
        <main>
            <h1>Error de registro</h1>

            <form action="/signup" method="GET">
                <button type="submit">Volver</button>
            </form>
        </main>
    </div>
</body>

</html>