<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <div class="container">
        <main>
            <div class="saludo">
                <h3>Hasta luego <%= username %>
                </h3>
            </div>
        </main>
    </div>
</body>

</html>